<nav class="pages-navigator">
    <ul>
        <li>
            <a href="/">Order Juices</a>
        </li>
        <% if(!isLoggedIn) { %>
        <li>
            <a href="/login">Login</a>
        </li>
        <% } else { %>
        <li>
            <a href="/orders">View Orders</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <% } %>
    </ul>
</nav>